{% if chapter and story.total_chapters > 1 %}
    <div class="form-inline chapter-navigation">
        {% if chapter.number != 1 %}<a href="{{ chapter.get_prev_chapter_url }}" class="btn"><i class="icon-angle-left"></i> Prev</a>{% endif %}
        <select>
            {% for chapter_select in story.chapters.all %}
                <option value="{{ chapter_select.get_absolute_url }}" {% if chapter.number == chapter_select.number %}selected{% endif %}>{% if chapter_select.title %}{{ chapter_select.number }}. {{ chapter_select.title }}{% else %}Chapter {{ chapter_select.number }}{% endif %}</option>
            {% endfor %}
        </select>
        {% if chapter.number != story.total_chapters %}<a href="{{ chapter.get_next_chapter_url }}" class="btn">Next <i class="icon-angle-right"></i></a>{% endif %}
    </div>
{% endif %}