<div class="navbar navbar-sub">
    <div class="navbar-inner">
        <div class="container">
            <div class="toolbar row-fluid">
                {% if story and user.is_authenticated or user.allow_anonymous_reviews %}
                    {% if user != story.author %}
                        <div class="btn-group">
                            <a href="javascript://" class="btn btn-small dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> Write a review</a>
                            <ul class="dropdown-menu write-review">
                                <li><input class="input-xxlarge" type="text" placeholder="Name" /></li>
                                <li class="divider"></li>
                                <li><textarea class="input-xxlarge"></textarea></li>
                                <li class="text-right"><button class="btn btn-primary">Submit Review</button></li>
                            </ul>
                        </div>
                        <span class="divider-vertical"></span>
                    {% endif %}
                {% endif %}
                {% if user != story.author %}
                    <a style="{% if not user.is_authenticated or story not in user.following_stories.all %}display:none;{% endif %}" class="btn btn-small btn-unfollow-story" data-pk="{{ story.pk }}" href="javascript://" title="Unfollow story and stop receiving alerts"><i class="icon-stop"></i> Unfollow</a>
                    <a style="{% if user.is_authenticated and story in user.following_stories.all %}display:none;{% endif %}" class="btn btn-small btn-follow-story" data-pk="{{ story.pk }}" href="javascript://" title="Follow story and receive alerts"><i class="icon-eye-open"></i> Follow</a>
                    <a style="{% if not user.is_authenticated or story not in user.favourite_stories.all %}display:none;{% endif %}" class="btn btn-small btn-unfavourite-story" data-pk="{{ story.pk }}" href="javascript://" title="Remove story from favourites"><i class="icon-stop"></i> Unfavourite</a>
                    <a style="{% if user.is_authenticated and story in user.favourite_stories.all %}display:none;{% endif %}" class="btn btn-small btn-favourite-story" data-pk="{{ story.pk }}" href="javascript://" title="Add story to favourites"><i class="icon-bolt"></i> Favourite</a>
{#                    <span class="divider-vertical"></span>#}
                {% endif %}
{#                <a class="btn btn-small btn-show-comments" href="javascript://" title="Show comments"><i class="icon-comments-alt"></i> Show comments</a>#}
{#                <a class="btn btn-small btn-hide-comments" href="javascript://" title="Hide comments" style="display:none;"><i class="icon-comments"></i> Hide comments</a>#}
{#                <span class="divider-vertical"></span>#}
{#                <a class="btn btn-small btn-fixed" href="{{ story.get_whole_story_url }}" title="View full story" style="width:20px"><i class="icon-th-large"></i></a>#}
{#                <a class="btn btn-small btn-increase-font-size" href="javascript://" title="Increase font size"><i class="icon-font"></i><i class="icon-plus"></i></a>#}
{#                <a class="btn btn-small btn-decrease-font-size" href="javascript://" title="Decrease font size"><i class="icon-font"></i><i class="icon-minus"></i></a>#}
{#                <div class="btn-group">#}
{#                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="javascript://" title="Choose font">#}
{#                        <i class="icon-font"></i>#}
{#                        <span class="caret"></span>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="#">test</a></li>#}
{#                        <li><a href="#">test1</a></li>#}
{#                        <li><a href="#">test4</a></li>#}
{#                    </ul>#}
{#                </div>#}
                {% if user != story.author %}
                    <ul class="nav nav-pills pull-right">
                        <li class="{% if chapter_rating and chapter_rating.rating %}active{% endif %}" title="Like chapter"><a class="btn-like-chapter" href="javascript://"><i class="icon-thumbs-up"></i></a></li>
                        <li class="{% if chapter_rating and not chapter_rating.rating %}active{% endif %}" title="Dislike chapter"><a class="btn-dislike-chapter" href="javascript://"><i class="icon-thumbs-down"></i></a></li>
                    </ul>
                {% else %}
                    <span class="pull-right" style="padding-right:15px">
                        <a class="btn btn-primary" href="javascript://"><i class="icon-edit"></i> Edit Story</a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="padded">
    <div class="story-heading row-fluid">
        <div class="span2 text-center"><img src="{{ MEDIA_URL }}images/no-image.jpg" class="img-polaroid" width="400" height="640" /></div>
        <div class="span10">
            <h1>{{ story.title }} <small>by <a href="{{ story.author.get_absolute_url }}">{{ story.author.username }}</a></small></h1>
            <p>{{ story.summary }}</p>
            <div class="row-fluid">
                {% include "library/_story_details.html" %}
            </div>
        </div>
    </div>
</div>