{% load humanize %}

<div class="row-fluid muted">
    <small>
        Rated: {{ story.rating.code }}
        - {{ story.language }}
        {% if fandom %}
            {% if story.fandoms.all|length > 1 %}
                - <a href="javascript://" class="atf-popover" data-content="{{ story.fandoms.all|join:'<br/>' }}">Crossovers</a>
            {% endif %}
        {% else %}
            - <a href="javascript://" class="atf-popover" data-content="{{ story.fandoms.all|join:'<br/>' }}">Fandoms</a>
        {% endif %}
        - {{ story.genres.all|join:"/" }}
        {% if story.characters.exists %}- <a href="javascript://" class="atf-popover" data-content="{{ story.characters.all|join:'<br/>' }}">Characters</a>{% endif %}
        - Published: {{ story.publish_date|naturalday|title }}
        {% if story.update_date != story.publish_date %}- Updated: {{ story.update_date|naturalday|title }}{% endif %}
        {% if story.is_complete %} - Complete{% endif %}
    </small>
</div>
<div class="row-fluid muted">
    <small>
        Chapters: {{ story.total_chapters }}
        - Words: {{ story.total_words|intcomma }}
        - Reviews: <a href="{{ story.get_reviewers_list_url }}">{{ story.stats.reviews|intcomma }}</a>
        - Favs: <a href="{{ story.get_favourites_list_url }}">{{ story.stats.favourites|intcomma }}</a>
        - Follows: <a href="{{ story.get_followers_list_url }}">{{ story.stats.followers|intcomma }}</a>
    </small>
</div>