{% extends 'library/layout.html' %}

{% load humanize %}


{% block content %}
    {{ block.super }}
    <h1>{{ section.name }}</h1>
    <div class="row-fluid">
        {% for fandom in fandom_list %}
            <div class="span4"><a href="{{ fandom.get_community_url }}">{{ fandom.name }} ({{ fandom.stats.communities|intcomma }})</a></div>
        {% endfor %}
    </div>
{% endblock %}