{% extends 'library/layout.html' %}

{% load humanize %}


{% block javascript %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/Atf.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            Atf.GridLinks.init();
        });
    </script>
{% endblock %}


{% block content %}
    {{ block.super }}
    <div class="padded">
        <h1>{{ section.name }}</h1>
        <hr/>
        <div class="row-fluid fandom-list">
            {% for fandom in fandom_list %}
                {% if forloop.first %}<div class="row-fluid">{% endif %}
                {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:3 %}</div><div class="row-fluid">{% endif %}
                <div class="span4 grid-item" data-href="{{ fandom.get_absolute_url }}">
                    <img src="{{ MEDIA_URL }}images/no-image.jpg" class="img-polaroid" style="float:left;margin-right:10px" width="40" height="74" />
                    <div class="row-fluid">
                        <h5>{{ fandom.name }}</h5>
                        <hr/>
                        <div class="row-fluid"><small>Stories: {{ fandom.stats.stories|intcomma }}</small></div>
                    </div>
                </div>
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}