{% extends 'library/layout.html' %}

{% load pagination_tags django_select2_tags allthefic_tags %}


{% block stylesheets %}
    {{ block.super }}
    {% import_django_select2_css %}
    <link href="{{ MEDIA_URL }}css/select2-bootstrap.css" rel="stylesheet">
{% endblock %}


{% block javascript %}
    {{ block.super }}
    {% import_django_select2_js %}
    <script src="{{ MEDIA_URL }}js/Atf.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            Atf.Popovers.init();
            Atf.Forms.preventEmptySubmit('form');
        });
    </script>
{% endblock %}


{% block content %}
    {{ block.super }}
    {# Story Listing #}
    <div style="padding-left:15px">
        <div class="story-list span10" style="padding-top:15px">
            <h1>{{ fandom.name }}</h1>
            <hr/>
            {% autopaginate story_list 10 %}
            <table class="table table-hover">
                {% for story in story_list %}
                    <tr>
                        <td>
                            <div class="span1 hidden-phone"><img src="{{ MEDIA_URL }}images/no-image.jpg" class="img-polaroid" width="65" height="98" /></div>
                            <div class="span11">
                                <div class="row-fluid">
                                    <div class="span8" style="min-height:20px"><a href="{{ story.get_absolute_url }}">{{ story.title }}</a>{% if story.total_chapters > 1 %} <a href="{{ story.get_last_chapter_url }}"><i class="icon-double-angle-right"></i></a>{% endif %} by <a href="{{ story.author.get_absolute_url }}">{{ story.author.username }}</a></div>
                                    <div class="span4" style="min-height:20px">
                                        <div class="progress" title="{{ story.stats.likes }} likes, {{ story.stats.dislikes }} dislikes" style="height:10px;margin:5px 0">
                                            <div class="bar bar-success" style="width: {{ story.stats.likes|percentage:story.stats.dislikes }};"></div>
                                            <div class="bar bar-danger" style="width: {{ story.stats.dislikes|percentage:story.stats.likes }};"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">{{ story.summary }}</div>
                                {% include "library/_story_details.html" %}
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td><div class="row-fluid">No stories available</div></td></tr>
                {% endfor %}
            </table>
            <div class="row-fluid pagination-wrapper">
                <span></span>
                <span class="pull-right">{% paginate %}</span>
            </div>
        </div>

        {# Story Listing Filter #}
        <div class="story-list-filter span2">
            <form method="GET">
                <h4>Filter Stories</h4>
                <hr/>
                <h6>Sort by:</h6>
                <div class="row-fluid">{{ filter_form.sort_by }}</div>
                <h6>Characters:</h6>
                <div class="row-fluid">{{ filter_form.characters }}</div>
                <h6>Genres:</h6>
                <div class="row-fluid">{{ filter_form.genres }}</div>
                <h6>Words:</h6>
                <div class="row-fluid">{{ filter_form.words }}</div>
                <h6>Language:</h6>
                <div class="row-fluid">{{ filter_form.language }}</div>
                <h6>Rating:</h6>
                <div class="row-fluid">{{ filter_form.rating }}</div>
                <h6>Status:</h6>
                <div class="row-fluid">{{ filter_form.status }}</div>
                <hr/>
                <div class="row-fluid text-right"><button type="submit" class="btn"><i class="icon-filter"></i> Filter</button></div>
            </form>
        </div>
    </div>
{% endblock %}