{% extends 'library/layout.html' %}


{% block javascript %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/Atf.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            Atf.Popovers.init();
        });
    </script>
{% endblock %}


{% block content %}
    {{ block.super }}
    {% include "library/_story_heading.html" %}
    {% for chapter in story.chapters.all %}
        {% include "library/_chapter_content.html" %}
    {% endfor %}
{% endblock %}