<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>All The Fic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        {% block stylesheets %}
            <link href="{{ MEDIA_URL }}lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <!-- Font Awesome - http://fortawesome.github.com/Font-Awesome -->
            <link href="{{ MEDIA_URL }}lib/font-awesome/css/font-awesome.css" rel="stylesheet">
            <link href="{{ MEDIA_URL }}lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
            <link href="{{ MEDIA_URL }}lib/html5-boilerplate/css/main.css" rel="stylesheet">
            <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet">
            <!--[if lt IE 8]><link href="{{ MEDIA_URL }}lib/font-awesome/css/font-awesome-ie7.css" rel="stylesheet"><![endif]-->
            {{ form.media.css }}
        {% endblock %}

        {% block fonts %}
            <link href='http://fonts.googleapis.com/css?family=Rum+Raisin|Basic' rel='stylesheet' type='text/css'>
        {% endblock %}

        <script src="{{ MEDIA_URL }}lib/html5-boilerplate/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript"></script>
        {# @todo: find a way to put jquery at bottom of page and still have custom js code rendered in widgets #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}lib/jquery/jquery-1.9.1.min.js"><\/script>')</script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {# Login required modal #}
        <!-- Modal -->
        <div id="modal_login_required" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel"><i class="icon-warning-sign"></i> Login required</h3>
            </div>
            <div class="modal-body">
                <p>Please signup or login to access this feature.</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

        {# Header #}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url 'homepage' %}"><i class="icon-book"></i> All The Fic</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe"></i> Browse <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for section in sections %}
                                        <li><a href="{{ section.get_absolute_url }}"><i class="icon-bookmark"></i> {{ section.name }} ({{ section.stats.fandoms }})</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
    {#                        <li class="dropdown">#}
    {#                            <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-group"></i> Communities <b class="caret"></b></a>#}
    {#                            <ul class="dropdown-menu">#}
    {#                                {% for section in sections %}#}
    {#                                    <li><a href="{{ section.get_community_url }}"><i class="icon-bookmark-empty"></i> {{ section.name }} ({{ section.stats.communities }})</a></li>#}
    {#                                {% endfor %}#}
    {#                            </ul>#}
    {#                        </li>#}
                        </ul>
                        <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown"><i class="{% if user.is_staff %}icon-user-md{% else %}icon-user{% endif %} icon-white"></i> {{ user.username }} <span class="badge">0</span> <b class="caret"></b></a>
                                    <ul class="dropdown-menu" style="min-width:200px">
                                        <li><a href="#"><i class="icon-inbox"></i> Notifications <span class="badge pull-right">0</span></a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'account:profile' %}"><i class="icon-trophy"></i> Profile</a></li>
                                        {% if user.is_staff %}
                                            <li class="divider"></li>
                                            <li><a href="{% url 'admin:dashboard' %}"><i class="icon-tasks"></i> Admin</a></li>
                                        {% endif %}
                                        <li class="divider"></li>
                                        <li><a href="{% url 'account:logout' %}"><i class="icon-off"></i> Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-signin"></i> Login <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-header">Login via</li>
                                        <li><a href="{% url 'socialauth_begin' 'facebook' %}"><img src="{{ MEDIA_URL }}images/social-icons/facebook-32.png" /> Facebook</a></li>
                                        <li><a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img src="{{ MEDIA_URL }}images/social-icons/google+-32.png" /> Google+</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {# Body #}
        <div class="container">
            <div class="row-fluid">
                <div id="body-wrapper" class="span12">
                    {% block body %}{% endblock %}
                </div>

                <div id="sidebar-wrapper" class="span2" style="display:none;">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>

        {# Footer #}
        <footer>
            <div class="container">
                <div class="padded-horizontal">
                    <p>&copy; {% now "Y" %} AllTheFic.com</p>
                </div>
            </div>
        </footer>

        {% block javascript %}
            <script src="{{ MEDIA_URL }}lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="{{ MEDIA_URL }}lib/html5-boilerplate/js/plugins.js" type="text/javascript"></script>
            <script src="{{ MEDIA_URL }}lib/html5-boilerplate/js/main.js" type="text/javascript"></script>
            <script src="{{ MEDIA_URL }}lib/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
            {{ form.media.js }}
{#            <script>#}
{#                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];#}
{#                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];#}
{#                    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';#}
{#                    s.parentNode.insertBefore(g,s)}(document,'script'));#}
{#            </script>#}
        {% endblock %}
    </body>
</html>