{% if is_paginated %}
    {% load i18n %}
    <div class="pagination">
        <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"><i class="icon-angle-left"></i> {% trans "previous" %}</a></li>
        {% else %}
            <li class="disabled"><span><i class="icon-angle-left"></i> {% trans "previous" %}</span></li>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="active"><span>{{ page }}</span></li>
                {% else %}
                    <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="disabled"><span>...</span></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}">{% trans "next" %} <i class="icon-angle-right"></i></a></li>
        {% else %}
            <li class="disabled"><span>{% trans "next" %} <i class="icon-angle-right"></i></span></li>
        {% endif %}
        </ul>
    </div>
{% endif %}
