<div id="{{ action }}_messages" class="row-fluid"></div>

<form id="dataform" class="form-horizontal" action="{{ model.verbose_name_plural }}/{{ action }}{% if obj_id %}/{{ obj_id }}{% endif %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="control-group">
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}{% if field.field.required %}<span class="text-error">*</span>{% endif %}</label>
            <div class="controls">
                {{ field }}
                {% if field.errors %}<span class="help-inline">{% for error in field.errors %} {{ error }}{% endfor %}</span>{% endif %}
                {% if field.help_text %}<br/><span class="help-inline"><small><em>{{ field.help_text }}</em></small></span>{% endif %}
            </div>
        </div>
    {% endfor %}
    <input type="submit" value="Submit" style="display:none" />
</form>

<script type="text/javascript">
    $(function(){
        var oModal = $('#dataform').closest('.modal');
        var sMsgContainer = "#{{ action }}_messages";
        var sDeleteUrl = "{{ model.verbose_name_plural }}/delete/{{ obj_id }}";

        {% if obj_id %}
            $('.ajax-delete', oModal).on('click', function(){
                Atf.Modals.ajaxDelete(oModal, sMsgContainer, sDeleteUrl);
            });
        {% endif %}
        $('.ajax-submit', oModal).on('click', function(){
            Atf.Modals.ajaxSubmit(oModal, sMsgContainer);
        });
        $('form').on('keypress', function(e){
            if (e.which == 13) Atf.Modals.ajaxSubmit(oModal, sMsgContainer);
        });
    });
</script>