{% extends 'base_site.html' %}


{% block body %}
    {{ block.super }}
    <div class="row-fluid">
        <div class="well span3">
            <ul class="nav nav-list">
                <li{% if not nav.action %} class="active"{% endif %}><a href="{% url 'admin:dashboard' %}"><i class="icon-dashboard"></i> Dashboard</a></li>
                <li class="nav-header">Accounts</li>
                <li{% if nav.action == 'users' %} class="active"{% endif %}><a href="{% url 'admin:users' %}"><i class="icon-user"></i> Users</a></li>
                <li class="nav-header">Library</li>
                <li{% if nav.action == 'sections' %} class="active"{% endif %}><a href="{% url 'admin:sections' %}"><i class="icon-bookmark"></i> Sections</a></li>
                <li{% if nav.action == 'fandoms' %} class="active"{% endif %}><a href="{% url 'admin:fandoms' %}"><i class="icon-bookmark-empty"></i> Fandoms</a></li>
                <li{% if nav.action == 'characters' %} class="active"{% endif %}><a href="{% url 'admin:characters' %}"><i class="icon-user-md"></i> Characters</a></li>
                <li{% if nav.action == 'genres' %} class="active"{% endif %}><a href="{% url 'admin:genres' %}"><i class="icon-heart-empty"></i> Genres</a></li>
                <li{% if nav.action == 'languages' %} class="active"{% endif %}><a href="{% url 'admin:languages' %}"><i class="icon-comment-alt"></i> Languages</a></li>
                <li{% if nav.action == 'ratings' %} class="active"{% endif %}><a href="{% url 'admin:ratings' %}"><i class="icon-star-empty"></i> Ratings</a></li>
            </ul>
        </div>
        <div class="span9">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}