{% extends 'admin/layout.html' %}


{% block stylesheets %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}lib/datatables/css/bootstrap.datatables.css" rel="stylesheet">
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}lib/datatables/js/bootstrap.datatables.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/Atf.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            var oDataTableConfig = Atf.DataTables.getDefaultConfig({
                "sPath": "/admin/{{ model.verbose_name_plural }}/",
                "aoColumns": {{ datatable_columns|safe }}
            });
            oDataTable = $('#id_datatable').dataTable(oDataTableConfig);
            $('body').on('hidden', '.modal', function(){$(this).removeData('modal')});
            $('#id_datatable th:last').html($('#id_datatable_processing').html('<img src="{{ MEDIA_URL }}images/spinner.gif" width="20" height="20" />'));
        });
    </script>
{% endblock %}


{% block content %}
    {{ block.super }}

    <!-- Header -->
    <div class="row-fluid">
        <h1>
            {% if view.icon_class %}<i class="{{ view.icon_class }}"></i> {% endif %}{{ model.verbose_name_plural|title }}
            <span class="pull-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_add_modal" data-remote="{{ model.verbose_name_plural }}/add">
                    <i class="icon-file icon-white"></i> Add new
                </button>
            </span>
        </h1>
        <hr/>
    </div>

    {% block messages %}
        <div id="messages" class="row-fluid"></div>
    {% endblock %}

    <!-- Datatable -->
    <div class="row-fluid">
        <table id="id_datatable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>
    </div>

    <!-- Add modal -->
    <div id="id_add_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="id_add_modal_header" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="id_add_modal_header"><i class="icon-file"></i> Add {{ model.verbose_name|title }}</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn btn-primary ajax-submit"><i class="icon-plus"></i> Add {{ model.verbose_name|title }}</button>
            <img class="spinner" src="{{ MEDIA_URL }}images/spinner.gif" width="30" height="30" style="display:none"/>
        </div>
    </div>

    <!-- Edit modal -->
    <div id="id_edit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="id_edit_modal_header" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="id_edit_modal_header"><i class="icon-edit"></i> Edit {{ model.verbose_name|title }}</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn btn-primary ajax-submit"><i class="icon-save"></i> Save {{ model.verbose_name|title }}</button>
            <button class="btn btn-danger pull-left ajax-delete"><i class="icon-trash"></i> Delete</button>
            <img class="spinner" src="{{ MEDIA_URL }}images/spinner.gif" width="30" height="30" style="display:none"/>
        </div>
    </div>

    <!-- View modal -->
    <div id="id_view_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="id_view_modal_header" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="id_view_modal_header"><i class="icon-eye-open"></i> View {{ model.verbose_name|title }}</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn btn-danger pull-left ajax-delete"><i class="icon-trash"></i> Delete</button>
            <img class="spinner" src="{{ MEDIA_URL }}images/spinner.gif" width="30" height="30" style="display:none"/>
        </div>
    </div>
{% endblock %}