<div id="dataview" class="form-horizontal">
    {% for field in form %}
        <div class="control-group">
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ field.value }}</span>
            </div>
        </div>
    {% endfor %}
</div>

{% if obj_id %}
    <script type="text/javascript">
        $(function(){
            var oModal = $('#dataview').closest('.modal');
            var sMsgContainer = "#{{ action }}_messages";
            var sDeleteUrl = "{{ model.verbose_name_plural }}/delete/{{ obj_id }}";

            $('.ajax-delete', oModal).on('click', function(){
                Atf.Modals.ajaxDelete(oModal, sMsgContainer, sDeleteUrl);
            });
        });
    </script>
{% endif %}