/* ------------------------------------------------------------------------------------------------------------------ */
/* General */
/* ------------------------------------------------------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    font-family: "Basic", arial, sans-serif;
}

.padded {
    padding: 15px;
}

.padded-horizontal {
    padding-left: 15px;
    padding-right: 15px;
}

.padded-vertical {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar {
    font-family: "Basic", arial, sans-serif;
}

.divider-vertical {
    margin: 0 15px 0 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #eee;
}

.navbar-sub {
    position: fixed;
    width: 100%;
    left: 0;
}

.navbar-sub + div {
    margin-top: 42px;
}

.navbar-sub {
    width: 940px;
    position: fixed;
    left: 50%;
    margin-left: -470px;
}

.navbar-sub .navbar-inner {
    padding: 2px 0 0 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

@media (min-width: 1200px) {
    .navbar-sub {
        width: 1170px;
        margin-left: -585px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container {
        width: auto;
    }
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Body */
/* ------------------------------------------------------------------------------------------------------------------ */
body {
    background: url(../images/bg-dark-red.jpg) repeat #6F2A23;
    padding: 0;
}

#body-wrapper {
    position: relative;
    min-height: 800px;
    padding-top: 41px;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 0 10px #222,  -1px 0 10px #222;
    -moz-box-shadow: 1px 0 10px #222,  -1px 0 10px #222;
    box-shadow: 1px 0 10px #222,  -1px 0 10px #222;
}

@media (max-width: 979px) {
    #body-wrapper {
        padding-top: 0;
    }
}

#sidebar-wrapper {
    margin: 0;
    width: 16.66666666666667%;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------------------------------------------------------------ */
.brand {
    font-family: 'Rum Raisin', 'Helvetica Neue', sans-serif;
}

.brand > span {
    display: inline-block;
    width: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar-fixed-top {
    margin: 0;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------------------------------------------------ */
footer {
    color: #fff;
    font-family: "Basic", arial, sans-serif;
    border-top: 6px solid #AC3A33;
    background-color: #1d1d1d;
    height: 200px;
}

footer .container {
    padding: 20px 0;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Cripsyforms */
/* ------------------------------------------------------------------------------------------------------------------ */
.asteriskField {
    color: #b94a48;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Story Listing */
/* ------------------------------------------------------------------------------------------------------------------ */
.story-list table {
    margin-bottom: 0;
}

.story-list table td {
    border-top: 0;
    border-bottom: 1px solid #eee;
}

.story-list .pagination {
    margin: 0 10px;
}

.story-list .pagination-wrapper {
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    padding: 20px 0;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Story Listing Filter */
/* ------------------------------------------------------------------------------------------------------------------ */
.story-list-filter {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);
}

.story-list-filter h6 {
    margin-bottom: 3px;
}

.story-list-filter select {
    width: 100%;
}

.story-list-filter hr {
    margin: 5px 0 10px 0;
}

.story-list-filter form {
    margin: 0;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Fandom / Favourite Author Listing */
/* ------------------------------------------------------------------------------------------------------------------ */
.grid-item {
    background-color: #eee;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.grid-item:hover {
    background-color: #ddd;
}

.grid-item hr {
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #eee;
}

.grid-item:hover hr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
}

.grid-item h5 {
    margin: 0 0 4px 0;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Chapter Detail */
/* ------------------------------------------------------------------------------------------------------------------ */
.story-heading hr.before-controls {
    margin-bottom: 10px;
}

.story-heading hr.after-controls {
    margin: 10px 0 0 0;
}

.chapter-wrapper .redactor_box {
    border: 0;
}

.disclaimer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.disclaimer blockquote {
    margin-bottom: 0;
}

.write-review {
    padding: 5px;
}

.write-review input {
    margin-bottom: 0;
}

.toolbar {
    height: 40px;
}

li.active > .btn-like-chapter, .btn-like-chapter:hover {
    color: #83b58b !important;
}

li.active > .btn-dislike-chapter, .btn-dislike-chapter:hover {
    color: #b57777 !important;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Author Detail */
/* ------------------------------------------------------------------------------------------------------------------ */
.author-heading hr.before-controls {
    margin-bottom: 10px;
}

.author-heading hr.after-controls {
    margin-top: 10px;
}