<div id="messages" class="row-fluid">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>{% if message.tags == 'error' %}{{ message.tags|upper }}{% else %}{{ message.tags|title }}{% endif %}:</strong> {{ message }}</div>
    {% endfor %}
</div>