{% extends 'base_site.html' %}

{% load humanize allthefic_tags %}


{% block javascript %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/Atf.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            Atf.Popovers.init();
            Atf.Tracking.initAuthor('{{ author.get_follow_url }}', '{{ author.get_favourite_url }}', {{ user.is_authenticated|lower }});
            Atf.GridLinks.init();
        });
    </script>
{% endblock %}


{% block body %}
    <div class="padded">
        <div class="author-heading row-fluid">
            <div class="span2 text-center"><img src="{{ MEDIA_URL }}images/no-image.jpg" class="img-polaroid" width="400" height="640" /></div>
            <div class="span10">
                <h1>{{ author.username }}</h1>
                <div class="row-fluid">
                    {# author details #}
                </div>
                <hr class="before-controls" />
                <div class="toolbar row-fluid">
                    {% if user != author %}
                        <a style="{% if not user.is_authenticated or author not in user.following_authors.all %}display:none;{% endif %}" class="btn btn-small btn-unfollow-author" data-pk="{{ author.pk }}" href="javascript://" title="Unfollow author and stop receiving alerts"><i class="icon-stop"></i> Unfollow</a>
                        <a style="{% if user.is_authenticated and author in user.following_authors.all %}display:none;{% endif %}" class="btn btn-small btn-follow-author" data-pk="{{ author.pk }}" href="javascript://" title="Follow author and receive alerts"><i class="icon-eye-open"></i> Follow</a>
                        <a style="{% if not user.is_authenticated or author not in user.favourite_authors.all %}display:none;{% endif %}" class="btn btn-small btn-unfavourite-author" data-pk="{{ author.pk }}" href="javascript://" title="Remove author from favourites"><i class="icon-stop"></i> Unfavourite</a>
                        <a style="{% if user.is_authenticated and author in user.favourite_authors.all %}display:none;{% endif %}" class="btn btn-small btn-favourite-author" data-pk="{{ author.pk }}" href="javascript://" title="Add author to favourites"><i class="icon-bolt"></i> Favourite</a>
                        <span class="divider-vertical"></span>
                    {% endif %}
                    <a class="btn btn-small" href="javascript://" title="Increase font size"><i class="icon-font"></i><i class="icon-plus"></i></a>
                    <a class="btn btn-small" href="javascript://" title="Decrease font size"><i class="icon-font"></i><i class="icon-minus"></i></a>
                    <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="javascript://" title="Choose font">
                            <i class="icon-font"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">test</a></li>
                            <li><a href="#">test1</a></li>
                            <li><a href="#">test4</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="after-controls" />
                <p>{{ author.bio|safe }}</p>
            </div>
        </div>
    </div>

    <div class="padded">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#stories" data-toggle="tab">Stories</a></li>
            <li><a href="#favourite-stories" data-toggle="tab">Favourite Stories</a></li>
            <li><a href="#favourite-authors" data-toggle="tab">Favourite Authors</a></li>
        </ul>

        <div class="tab-content">
            <div class="story-list tab-pane active" id="stories">
                <table class="table table-hover">
                    {% for story in author.stories.all %}
                        <tr>
                            <td>
                                <div class="span1 hidden-phone"><img src="{{ MEDIA_URL }}images/no-image.jpg" class="img-polaroid" width="65" height="98" /></div>
                                <div class="span11">
                                    <div class="row-fluid">
                                        <div class="span8" style="min-height:20px"><a href="{{ story.get_absolute_url }}">{{ story.title }}</a>{% if story.total_chapters > 1 %} <a href="{{ story.get_last_chapter_url }}"><i class="icon-double-angle-right"></i></a>{% endif %}</div>
                                        <div class="span4" style="min-height:20px">
                                            <div class="progress" title="{{ story.stats.likes }} likes, {{ story.stats.dislikes }} dislikes" style="height:10px;margin:5px 0">
                                                <div class="bar bar-success" style="width: {{ story.stats.likes|percentage:story.stats.dislikes }};"></div>
                                                <div class="bar bar-danger" style="width: {{ story.stats.dislikes|percentage:story.stats.likes }};"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">{{ story.summary }}</div>
                                    {% include "library/_story_details.html" %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td><div class="row-fluid">No stories available</div></td></tr>
                    {% endfor %}
                </table>
            </div>

            <div class="story-list tab-pane" id="favourite-stories">
                <table class="table table-hover">
                    {% for story in author.favourite_stories.all %}
                        <tr>
                            <td>
                                <div class="span1 hidden-phone"><img src="{{ MEDIA_URL }}images/no-image.jpg" class="img-polaroid" width="65" height="98" /></div>
                                <div class="span11">
                                    <div class="row-fluid">
                                        <div class="span8" style="min-height:20px"><a href="{{ story.get_absolute_url }}">{{ story.title }}</a>{% if story.total_chapters > 1 %} <a href="{{ story.get_last_chapter_url }}"><i class="icon-double-angle-right"></i></a>{% endif %} by <a href="{{ story.author.get_absolute_url }}">{{ story.author.username }}</a></div>
                                        <div class="span4" style="min-height:20px">
                                            <div class="progress" title="{{ story.stats.likes }} likes, {{ story.stats.dislikes }} dislikes" style="height:10px;margin:5px 0">
                                                <div class="bar bar-success" style="width: {{ story.stats.likes|percentage:story.stats.dislikes }};"></div>
                                                <div class="bar bar-danger" style="width: {{ story.stats.dislikes|percentage:story.stats.likes }};"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">{{ story.summary }}</div>
                                    {% include "library/_story_details.html" %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td><div class="row-fluid">No stories available</div></td></tr>
                    {% endfor %}
                </table>
            </div>

            <div class="tab-pane" id="favourite-authors">
                {% for favourite_author in author.favourite_authors.all %}
                    {% if forloop.first %}<div class="row-fluid">{% endif %}
                    {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:3 %}</div><div class="row-fluid">{% endif %}
                    <div class="span4 grid-item" data-href="{{ favourite_author.get_absolute_url }}">
                        <img src="{{ MEDIA_URL }}images/no-image.jpg" class="img-polaroid" style="float:left;margin-right:10px" width="40" height="74" />
                        <div class="row-fluid">
                            <h5>{{ favourite_author.username }}</h5>
                            <hr/>
                            <div class="row-fluid"><small>Stories: {{ favourite_author.total_stories|intcomma }}</small></div>
                        </div>
                    </div>
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}