{% extends 'base_site.html' %}


{% block body %}
    {{ block.super }}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well span3">
                <ul class="nav nav-list">
                    <li{% if nav.action == 'dashboard' %} class="active"{% endif %}><a href="{% url 'account:dashboard' %}"><i class="icon-dashboard"></i> Dashboard <span class="badge pull-right">0</span></a></li>
                    <li class="nav-header">Private Messaging</li>
                    <li{% if nav.action == 'inbox' %} class="active"{% endif %}><a href="{% url 'account:inbox' %}"><i class="icon-inbox"></i> Inbox <span class="badge pull-right">0</span></a></li>
                    <li{% if nav.action == 'outbox' %} class="active"{% endif %}><a href="{% url 'account:outbox' %}"><i class="icon-upload-alt"></i> Outbox <span class="badge pull-right">0</span></a></li>
                    <li class="nav-header">Account</li>
                    <li{% if nav.action == 'settings' %} class="active"{% endif %}><a href="{% url 'account:settings' %}"><i class="icon-cog"></i> Settings</a></li>
                    <li{% if nav.action == 'profile' %} class="active"{% endif %}><a href="{% url 'account:profile' %}"><i class="icon-user"></i> Profile</a></li>
                    <li{% if nav.action == 'reviews' %} class="active"{% endif %}><a href="{% url 'account:reviews' %}"><i class="icon-fire"></i> Reviews</a></li>
                    <li{% if nav.action == 'favourites' %} class="active"{% endif %}><a href="{% url 'account:favourites' %}"><i class="icon-heart"></i> Favourites</a></li>
                    <li{% if nav.action == 'following' %} class="active"{% endif %}><a href="{% url 'account:following' %}"><i class="icon-envelope-alt"></i> Following</a></li>
                    <li class="nav-header">Publish</li>
                    <li{% if nav.action == 'new-story' %} class="active"{% endif %}><a href="{% url 'account:new-story' %}"><i class="icon-pencil"></i> New Story</a></li>
                    <li{% if nav.action == 'manage-stories' or nav.action == 'edit-story' %} class="active"{% endif %}><a href="{% url 'account:manage-stories' %}"><i class="icon-book"></i> Manage Stories</a></li>
                    <li{% if nav.action == 'image-manager' %} class="active"{% endif %}><a href="{% url 'account:image-manager' %}"><i class="icon-picture"></i> Image Manager</a></li>
                </ul>
            </div>
            <div class="span9">
                <div class="row-fluid">
                    <h1>{% block heading %}{% endblock %}</h1>
                    <hr/>
                </div>
                {% include "account/_messages.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}