{% extends 'account/layout.html' %}


{% block stylesheets %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}lib/datatables/css/bootstrap.datatables.css" rel="stylesheet">
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}lib/datatables/js/bootstrap.datatables.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/Atf.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            var oDataTableConfig = Atf.DataTables.getDefaultConfig({
                'bProcessing': false,
{#                'bServerSide': false,#}
{#                "sPath": "/admin/{{ model.verbose_name_plural }}/",#}
{#                "aoColumns": {{ datatable_columns|safe }}#}
                "sAjaxSource": false
            });
            oDataTable = $('#id_datatable').dataTable(oDataTableConfig);
        });
    </script>
{% endblock %}


{% block heading %}<i class="icon-book"></i> Manage Stories<a class="btn btn-primary pull-right" href="{% url 'account:new-story' %}"><i class="icon-pencil icon-white"></i> Add new</a>{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row-fluid">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped">
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <h5>{{ object.title }}<span class="pull-right"><a class="btn btn-mini btn-primary" href="{% url 'account:edit-story' object.id %}"><i class="icon-edit"></i> Edit</a></span></h5>
                            <p>{{ object.summary }}</p>
                            <p class="muted"><small>Rating: {{ object.rating.code }} - {{ object.language }} - {% for genre in object.genres.all %}{% if not forloop.first %}/{% endif %}{{ genre }}{% endfor %} - Chapters: {{ object.total_chapters }} - Words: {{ object.total_words }} - Published: {{ object.publish_date|date:"" }} - {% for character in object.characters.all %}{% if not forloop.first %} &amp; {% endif %}{{ character }}{% endfor %}</small></p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}