{% extends 'account/layout.html' %}

{% load crispy_forms_tags %}


{% block heading %}<i class="icon-user"></i> Profile{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row-fluid">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row-fluid">
                <p>{{ form.profile }}</p>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary pull-right"><i class="icon-ok-sign"></i> Save</button>
            </div>
        </form>
    </div>
{% endblock %}