{% extends 'account/layout.html' %}

{% load crispy_forms_tags %}


{% block heading %}<i class="icon-cog"></i> Settings{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row-fluid">
        <form class="form-horizontal" action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok-sign"></i> Save</button>
            </div>
        </form>
    </div>
{% endblock %}